body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFECEC;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#dog-breed-select {
    margin-top: 20px;
    width: 500px;
    margin-bottom: 2rem;
    height: 35px;
    font-size: 25px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#selected-image {
    max-width: 100%;
    height: auto;
}

button {
    padding: 14px;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 30px;
    background-color: #0C2D57;
    color: #fff;
    border: none;
}

label{
    font-size: 20px;
}

input{
    font-size: 12px;
}

header{
    background-color: #0C2D57;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    
}

#load-image{
    margin-top: 20px;
}

